:root {
  --black: #333;
  --sand: #dabea0;
  --light-orange: #fda371;
  --orange: #fe8769;
  --cyan: #76bcb7;
  --teal: #addbd4;
  --yellow: #fed87d;
}
/* --------------------Page header-------------------- */
.contact-me-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.name {
  font-size: 16px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

@media (max-width: 600px) {
  .contact-me-btn, .name {
    display: none;
  }
  
  .page-header {
    justify-content: center;
  }
}

.nav-bar-btn {
  background: none;
  border: none;
  width: 70px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-bar-btn span {
  height: 4px;
  background-color: var(--black);
  width: 100%;
}
/* --------------------Intro Title-------------------- */

h1 {
  font-family: 'Helvetica';
  font-size: clamp(1rem, 7vw, 3rem);
  margin-top: 40px;
  margin-bottom: 0px;
}
.title-border{
  height: 2px;
  background-color: #333;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* --------------------Intro-------------------- */
.intro-text {
  flex: 1;
}
.intro-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.profile{
  flex-shrink: 0;
}
.profile-picture {
  width: clamp(300px, 40vw, 450px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); 
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
}
/*)
@media (max-width: 600px) {
  .profile_picture {
    width: 100vw;
    border-radius: 0;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    margin: 20px -20px 20px -20px;
    display: block;
  }
}
*/

p {
  font-size: 18px;
  line-height: 1.4;
  max-width: 500px;
  text-align: none;
}


body {
  background-color: var(--sand);
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  min-height: 150vh;
}
@media (max-width: 1300px) {
  body {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media (max-width: 600px){
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
.read-more-btn {
  background-color: var(--orange);
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.read-more-btn:hover {
  background-color: var(--light-orange);
}

/* --------------------About Me-------------------- */
@media (min-width: 950px) {
  .about-me {
    margin-top: -200px;
  }
}

h2 {
  font-family: 'Helvetica';
  font-size: clamp(1rem, 7vw, 3rem);
  margin-bottom: 0px;
}
.about-me-border{
  height: 2px;
  background-color: #333;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 50px;
}


